<%page expression_filter="h"/>
<%! from openedx.core.djangolib.markup import HTML %>
%if unit_title:
  <h3 class="unit-title">${unit_title}</h3>
% endif

% if show_bookmark_button:
    <%include file='bookmark_button.html' args="bookmark_id=bookmark_id, is_bookmarked=bookmarked"/>
% endif

<div class="vert-mod">
% for idx, usage_key in enumerate(usage_keys):
  <div id="vert__${usage_key}" class="vert vert-${idx}" data-id="${usage_key}">
    <p>Loading ${usage_key}...</p>
  </div>
% endfor
</div>
